Capture_Data_flow.json
[{"id":"52e93b5b.57f224","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10e3653f.005a1b","type":"debug","z":"52e93b5b.57f224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":80,"wires":[]},{"id":"af2e79da.98def8","type":"json","z":"52e93b5b.57f224","name":"","property":"payload","action":"","pretty":false,"x":410,"y":80,"wires":[["9da7f53a.087ca8","10e3653f.005a1b","fdda9f5.f2ab26"]]},{"id":"ae5a9e23.815f7","type":"file","z":"52e93b5b.57f224","name":"CSVtoFile","filename":"C:\\Users\\sze\\IR_sensor.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1000,"y":220,"wires":[[]]},{"id":"9da7f53a.087ca8","type":"function","z":"52e93b5b.57f224","name":"toCSV","func":"var date = new Date().toISOString().split('.')[0];\n\nif (msg.topic == \"logging\") {\n    flow.set (\"logging\", msg.payload);\n    return [];\n}\nelse {\n    if (flow.get (\"logging\") === true) {\n        msg.payload = date + ','+ msg.payload.data + ',' + \"0\";\n        return msg;\n    }\n    else {\n        return [];\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":220,"wires":[["ae5a9e23.815f7","6a05d680.399998"]]},{"id":"c777f3e9.4d8a6","type":"debug","z":"52e93b5b.57f224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":260,"wires":[]},{"id":"322b64d2.c4734c","type":"debug","z":"52e93b5b.57f224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":400,"wires":[]},{"id":"fdda9f5.f2ab26","type":"function","z":"52e93b5b.57f224","name":"","func":"//var value;\nconst msg2 = {payload: []};\n\nfor(var i=0; i<8; i++) {\n    for(var j=0; j<8; j++) {\n        var value = msg.payload.data[j][i]; \n//da die Heatmap die Daten von oben nach unten und dann erst von links nach rechts anordnet\n        msg2.payload.push(value);\n}}\n\nreturn msg2;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":360,"wires":[["b63ce125.33dfc","322b64d2.c4734c"]]},{"id":"5a099ad0.a48884","type":"serial in","z":"52e93b5b.57f224","name":"Sensor@ttyUSB0","serial":"1dcb58e7.809ed7","x":180,"y":80,"wires":[["af2e79da.98def8"]]},{"id":"6a05d680.399998","type":"counter","z":"52e93b5b.57f224","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":800,"y":260,"wires":[["c777f3e9.4d8a6","ca6a03f5.0244b"]]},{"id":"ca6a03f5.0244b","type":"ui_text","z":"52e93b5b.57f224","group":"a05a630c.e07fd","order":0,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.count}}","layout":"row-spread","x":1000,"y":300,"wires":[]},{"id":"ee23fe9c.aad22","type":"ui_switch","z":"52e93b5b.57f224","name":"Logging ON/OFF","label":"Logging On / Off","tooltip":"","group":"a05a630c.e07fd","order":6,"width":"6","height":"6","passthru":false,"decouple":"false","topic":"logging","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"x":190,"y":220,"wires":[["9da7f53a.087ca8"]]},{"id":"b63ce125.33dfc","type":"ui_heat_map","z":"52e93b5b.57f224","group":"a05a630c.e07fd","order":3,"width":"8","height":"8","name":"","rows":"8","columns":"8","minMax":false,"minimumValue":0,"maximumValue":0,"backgroundType":"color","backgroundColor":"#ffffff","image":"never","radius":40,"opacity":"0","blur":0.85,"showValues":false,"gridType":"none","valuesDecimals":0,"showLegend":false,"legendType":"vals","legendDecimals":0,"legendCount":2,"x":1000,"y":360,"wires":[[]]},{"id":"1dcb58e7.809ed7","type":"serial-port","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a05a630c.e07fd","type":"ui_group","name":"IR-Sensor","tab":"85bdf351.9602","order":2,"disp":true,"width":"8","collapse":false},{"id":"85bdf351.9602","type":"ui_tab","name":"IR-Sensor","icon":"dashboard","disabled":false,"hidden":false}]